# Server
PORT=3000
NODE_ENV=development

# Database (Neon.tech)
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# JWT
JWT_SECRET="change-me-to-a-long-random-string"
JWT_EXPIRES_IN="7d"

# NibssByPhoenix
NIBSS_BASE_URL="https://nibssbyphoenix.onrender.com"
NIBSS_API_KEY=""
NIBSS_API_SECRET=""
